*{
  box-sizing: border-box;
}
/* 
body{
  height: 100vh;
} */

.span{
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.span p{
  font-size: 2rem;
  color: black;
}

.active{
  background-color: tomato;
  padding: 10px;
}

.news{
  margin-top: 6rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.es{
  margin-left: 10rem;
}
